
/* wishlist page css */
.wishlist-area{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.wishlist-area:last-child{
    border-bottom: none;
}
.wishlist-area .wishlist-details .wishlist-item{
    padding: 13px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wishlist-area .wishlist-details .wishlist-item span.wishlist-head{
    font-size: 16px;
    font-weight: 700;
}
.wishlist-area .wishlist-details .wishlist-item span.c-items{
    border-bottom: 1px solid #000;
    margin-bottom: 3px;
}
.wishlist-area .wishlist-details .wishlist-all-pro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.wishlist-area .wishlist-details .wishlist-all-pro .wishlist-pro{
    width: 60%;
    margin-top: 20px;
    display: flex;
}
.wishlist-area .wishlist-details .wishlist-all-pro .wishlist-pro .wishlist-pro-image{
    margin-right: 15px;
}
.wishlist-area .wishlist-details .wishlist-all-pro .wishlist-pro .pro-details h4{
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}
.wishlist-area .wishlist-details .wishlist-all-pro .wishlist-pro .pro-details span.all-size{
    font-size: 14px;
    margin-top: 8px;
    font-weight: 600;
    display: block;
}
.wishlist-area .wishlist-details .wishlist-all-pro .wishlist-pro .pro-details span.all-size span.pro-size{
    font-weight: 400;   
}
.wishlist-area .wishlist-details .wishlist-all-pro .wishlist-pro .pro-details span.wishlist-text{
    margin-top: 8px;
    line-height: 1;
}
.wishlist-area .wishlist-details .wishlist-all-pro .qty-item{
    width: 20%;
}
.wishlist-area .wishlist-details .wishlist-all-pro .qty-item a.add-wishlist{
    color: #f5ab1e;
    margin-top: 7px;
    text-decoration: underline;
    display: block;
    text-align: center;
}
.wishlist-area .wishlist-details .wishlist-all-pro .qty-item a.add-wishlist:first-child {
    margin-top: 0px;
}
.wishlist-area .wishlist-details .wishlist-all-pro .all-pro-price{
    width: 20%;
    text-align: right;
}
.wishlist-area .wishlist-details .wishlist-all-pro .all-pro-price span.new-price{
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}
.wishlist-area .wishlist-details .wishlist-all-pro .all-pro-price span.old-price{
    color: #999;
}
.wishlist-area .wishlist-details .other-link{
    margin-top: 20px;
    padding: 15px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.wishlist-area .wishlist-details .other-link ul.c-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pro-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px){
    .pro-details {
        display: inline;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}